.ui-corner-all.ui-controlgroup.ui-controlgroup-horizontal.ui-mini{"data-mini" => "true", "data-role" => "controlgroup", "data-type" => "horizontal"}
  .ui-controlgroup-controls
    %a.lower-score.ui-btn.ui-btn-icon-notext.ui-corner-left.ui-btn-up-c{"data-corners" => "true", "data-icon" => "arrow-l", "data-iconpos" => "notext", "data-iconshadow" => "true", "data-role" => "button", "data-shadow" => "true", "data-theme" => "c", "data-wrapperels" => "span", :href => "#", :title => "Down", id: team_id}
      %span.ui-btn-inner.ui-corner-left
        %span.ui-btn-text Down
        %span.ui-icon.ui-icon-arrow-l.ui-icon-shadow  
    %a.raise-score.ui-btn.ui-btn-icon-notext.ui-corner-right.ui-controlgroup-last.ui-btn-up-c{"data-corners" => "true", "data-icon" => "arrow-r", "data-iconpos" => "notext", "data-iconshadow" => "true", "data-role" => "button", "data-shadow" => "true", "data-theme" => "c", "data-wrapperels" => "span", :href => "#", :title => "Up", id: team_id}
      %span.ui-btn-inner.ui-corner-right.ui-controlgroup-last
        %span.ui-btn-text Up
        %span.ui-icon.ui-icon-arrow-r.ui-icon-shadow