#setup-area
  %form
    %fieldset{"data-collapsed" => "false", "data-content-theme" => "d", "data-role" => "collapsible", "data-theme" => "a"}
      / data-role => collapsible
      %legend Setup
      %h3 Teams
      .team-name#team-1
        = render partial: "autocomplete", locals: {url: "/teams", placeholder: 'Team Name'}
      .team-name#team-2
        = render partial: "autocomplete", locals: {url: "/teams", placeholder: "Team Name"}
      #hashtags
        %h3 Hash Tags
        = render partial: "autocomplete", locals: {url: "/hash_tags", placeholder: "#hashtag"}