= render partial: "setup"
#scores-area
  .team-column.left
    %h3 Team 1
    %input#number.ui-input-text.ui-body-c.ui-corner-all.ui-shadow-inset{:name => "number", :type => "number", :value => "0"}/
    = render partial: "score_adjust_buttons"

  .team-column.right    
    %h3 Team 2
    %input#number.ui-input-text.ui-body-c.ui-corner-all.ui-shadow-inset{:name => "number", :type => "number", :value => "0"}/
    = render partial: "score_adjust_buttons"

  %br
  %h3 Additional Tweet Content
  %input#tweet{"data-clear-btn" => "true", :name => "tweet", :type => "text", :value => ""}/

  #send-tweet
    %button Tweet

  #sample-tweet

