= render partial: "setup"

.team-row
  .ui-field-contain.ui-body.ui-br{"data-role" => "fieldcontain"}
    %label.ui-input-text{:for => "number"} Team Name:
    %input#number.ui-input-text.ui-body-c.ui-corner-all.ui-shadow-inset{:name => "number", :type => "number", :value => ""}/
    %label.ui-input-text{:for => "number"} Team Name:
    %input#number.ui-input-text.ui-body-c.ui-corner-all.ui-shadow-inset{:name => "number", :type => "number", :value => ""}/
  

  / .ui-corner-all.ui-controlgroup.ui-controlgroup-horizontal.ui-mini{"data-mini" => "true", "data-role" => "controlgroup", "data-type" => "horizontal"}
  /   .ui-controlgroup-controls
  /     %a.ui-btn.ui-btn-icon-notext.ui-corner-left.ui-btn-up-c{"data-corners" => "true", "data-icon" => "arrow-l", "data-iconpos" => "notext", "data-iconshadow" => "true", "data-role" => "button", "data-shadow" => "true", "data-theme" => "c", "data-wrapperels" => "span", :href => "#", :title => "Down"}
  /       %span.ui-btn-inner.ui-corner-left
  /         %span.ui-btn-text Down
  /         %span.ui-icon.ui-icon-arrow-l.ui-icon-shadow  
  /     %a.ui-btn.ui-btn-icon-notext.ui-corner-right.ui-controlgroup-last.ui-btn-up-c{"data-corners" => "true", "data-icon" => "arrow-r", "data-iconpos" => "notext", "data-iconshadow" => "true", "data-role" => "button", "data-shadow" => "true", "data-theme" => "c", "data-wrapperels" => "span", :href => "#", :title => "Up"}
  /       %span.ui-btn-inner.ui-corner-right.ui-controlgroup-last
  /         %span.ui-btn-text Up
  /         %span.ui-icon.ui-icon-arrow-r.ui-icon-shadow

%h3 Additional Tweet Content
%input#tweet{"data-clear-btn" => "true", :name => "tweet", :type => "text", :value => ""}/

