/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require jquery.mobile
 */

.ui-listview-filter-inset {
  margin-top: 0;
}

.team-row {
  display: inline;
  font-size: 20px;
}

.ui-corner-all.ui-controlgroup.ui-controlgroup-horizontal {
  display: inline;
}

.team-row {
  display: inline;
}
.team-column {
  width: 50%;
  text-align: center;
}
.left {
  float: left;
}
.right {
  float: right;
}
.team-column div.ui-input-text{
  margin: auto;
  width: 15%;
}
.team-column input.ui-input-text{
  font-size: 30px;
  text-align: center;
}

input.score {
 display: block;
 width: auto;
}

#send-tweet {
  width: 20%;
  margin: auto;
}